html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: FreightSansProMedium-Regular;
}
.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}
.inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: inherit;
}
.top-header {
    min-height: 120px;
}
.all-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 120%;
    margin: 60px 0 44px 0;
}
.logo {
    font-style: italic;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -1px;
    text-transform: none;
    color: #3C271D;
}
.logo1 {
    margin: 0 62px 17px 48px;
}

.all-nav a {
    text-decoration: none;
    color: #161614;
}

.top-nav a {
    color: #3C271D;
}

footer {
    background-color: #FFFCF9;
    color: #161614;
}

.header {
    min-height: 397px;
}
.follow {
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 14px;
    padding: 80px 0 51px 0;
}
.images-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main {
    background: #F8F4F0;
    min-height: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 397px;
}
.social-media, .bottom-nav  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav {
    min-height: 130px;
}

.social-media {
    min-height: 151px;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: space-around;
    min-width: 105px;
}

.text {
    padding: 14px 0 35px 0;
    font-family: FreightSansProBook-Regular;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #161614;
}

.copyright{
    min-height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-weight: 500;*/
    font-size: 11px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #3C271D;
}

@media only screen and (max-width: 480px) {
    .images-area img {
        justify-content: center;
        margin: 20px;
    }
    .all-nav {
        flex-direction: column;
        text-align: center;
    }
    .top-nav a {
        margin: 5px;
    }
}